#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffffb8;
  display: none;
  z-index: 2;
}
