<div class="resp-container mat-app-background animate-theme-change" [ngClass]="{'dark-theme-mode':isDarkTheme}">
  <mat-toolbar class="resp-toolbar">
    <app-header (selectTheme)="selectTheme($event)" class="w-100"></app-header>
  </mat-toolbar>

  <mat-sidenav-container class="resp-sidenav-container">
    <mat-sidenav-content style="height: calc(100vh - 64px); overflow: hidden;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div id="overlay">
  <img src="./assets/images/PulseLoader.gif" />
</div>
