// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$movies-app-primary: mat-palette($mat-light-blue);
$movies-app-accent: mat-palette($mat-light-green);
$movies-app-warn: mat-palette($mat-red);


$movies-app-theme: mat-light-theme($movies-app-primary, $movies-app-accent, $movies-app-warn);
@include angular-material-theme($movies-app-theme);

//for dark theme
$movies-app-primary-dark: mat-palette($mat-orange);
$movies-app-accent-dark: mat-palette($mat-yellow);
$movies-app-warn-dark: mat-palette($mat-red);

$movies-app-theme-dark: mat-dark-theme($movies-app-primary-dark, $movies-app-accent-dark, $movies-app-warn-dark);

.dark-theme-mode {
  @include angular-material-theme($movies-app-theme-dark);
}


/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none !important;
}

.animate-theme-change {
  transition: background-color 0.5s ease, color 0.5s ease;
}

::-webkit-scrollbar {
  width: 4px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: white !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E9E9E9 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E9E9E9 !important;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}
